In [2]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [49]:
data=pd.read_csv("./cleaned_data.csv")
data

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256.0,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000.00000,2018-11-15T02:18:49Z,2.0,0,January542024,202454March
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256.0,ProviderId_4,ProductId_6,financial_services,ChannelId_2,3679.0,20.00000,2018-11-15T02:19:08Z,2.0,0,February33932024,202455March
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256.0,ProviderId_4,ProductId_1,airtime,ChannelId_3,500.0,500.00000,2018-11-15T02:44:21Z,2.0,0,March552026,202554March
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256.0,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,9900.64041,2018-11-15T03:32:55Z,2.0,0,April542027,202454March
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256.0,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644.00000,2018-11-15T03:34:21Z,2.0,0,May542028,202554March
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256.0,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000.00000,2019-02-13T09:54:09Z,2.0,0,January542024,202454March
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256.0,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000.00000,2019-02-13T09:54:25Z,2.0,0,January542024,202454March
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256.0,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20.00000,2019-02-13T09:54:35Z,2.0,0,January542024,202454March
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256.0,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000.00000,2019-02-13T10:01:10Z,2.0,0,January542024,202454March
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256.0,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60.00000,2019-02-13T10:01:28Z,2.0,0,January542024,202454March

In [50]:
Total_Transaction_Amount = data.groupby("CustomerId")["Amount"].sum().reset_index()
Total_Transaction_Amount.columns = ['CustomerId', 'Total_Transaction']


Average_Transaction_Amount = data.groupby("CustomerId")["Amount"].mean().reset_index()
Average_Transaction_Amount.columns = ['CustomerId', 'Average_Transaction']


Transaction_Count = data.groupby("CustomerId").size().reset_index(name='Transaction_Count')

# Calculate Standard Deviation of Transaction Amounts per customer
Standard_Deviation_Transaction_Amount = data.groupby("CustomerId")["Amount"].std().reset_index()
Standard_Deviation_Transaction_Amount.columns = ['CustomerId', 'Standard_Deviation']

# Merge all DataFrames on 'CustomerId'
Aggregate_Features = pd.merge(Total_Transaction_Amount, Average_Transaction_Amount, on='CustomerId')
Aggregate_Features = pd.merge(Aggregate_Features, Transaction_Count, on='CustomerId')
Aggregate_Features = pd.merge(Aggregate_Features, Standard_Deviation_Transaction_Amount, on='CustomerId')

# Display the aggregated features
Aggregate_Features.head()

,CustomerId,Total_Transaction,Average_Transaction,Transaction_Count,Standard_Deviation
0,CustomerId_1,-10000.0,-10000.000000,1,NaN
1,CustomerId_10,-10000.0,-10000.000000,1,NaN
2,CustomerId_1001,20000.0,4000.000000,5,6558.963333
3,CustomerId_1002,4225.0,384.090909,11,560.498966
4,CustomerId_1003,20000.0,3333.333333,6,6030.478146

In [51]:
data["TransactionStartTime"]=pd.to_datetime(data["TransactionStartTime"])

In [53]:
data["Hour"]=data["TransactionStartTime"].dt.hour
data["day"]=data["TransactionStartTime"].dt.day
data["week"]=data["TransactionStartTime"].dt.weekday
data["Month"]=data["TransactionStartTime"].dt.month
data["year"]=data["TransactionStartTime"].dt.year
data.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,Hour,day,week,Month,year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256.0,ProviderId_6,ProductId_10,airtime,...,2018-11-15 02:18:49+00:00,2.0,0,January542024,202454March,2,15,3,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256.0,ProviderId_4,ProductId_6,financial_services,...,2018-11-15 02:19:08+00:00,2.0,0,February33932024,202455March,2,15,3,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256.0,ProviderId_4,ProductId_1,airtime,...,2018-11-15 02:44:21+00:00,2.0,0,March552026,202554March,2,15,3,11,2018
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256.0,ProviderId_1,ProductId_21,utility_bill,...,2018-11-15 03:32:55+00:00,2.0,0,April542027,202454March,3,15,3,11,2018
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256.0,ProviderId_4,ProductId_6,financial_services,...,2018-11-15 03:34:21+00:00,2.0,0,May542028,202554March,3,15,3,11,2018

In [55]:
data_1=data.copy()
data_1.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,Hour,day,week,Month,year
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256.0,ProviderId_6,ProductId_10,airtime,...,2018-11-15 02:18:49+00:00,2.0,0,January542024,202454March,2,15,3,11,2018
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256.0,ProviderId_4,ProductId_6,financial_services,...,2018-11-15 02:19:08+00:00,2.0,0,February33932024,202455March,2,15,3,11,2018
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256.0,ProviderId_4,ProductId_1,airtime,...,2018-11-15 02:44:21+00:00,2.0,0,March552026,202554March,2,15,3,11,2018
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256.0,ProviderId_1,ProductId_21,utility_bill,...,2018-11-15 03:32:55+00:00,2.0,0,April542027,202454March,3,15,3,11,2018
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256.0,ProviderId_4,ProductId_6,financial_services,...,2018-11-15 03:34:21+00:00,2.0,0,May542028,202554March,3,15,3,11,2018

In [60]:
from sklearn.preprocessing import OneHotEncoder
# Identify categorical columns
categorical_columns = data_1.select_dtypes(include=['object']).columns.tolist()

# Create an instance of OneHotEncoder with sparse output
encoder = OneHotEncoder(sparse_output=True)  # Sparse matrix to save memory

# Fit and transform the data
one_hot_encoded = encoder.fit_transform(data_1[categorical_columns])

# Convert to DataFrame if necessary
one_hot_df = pd.DataFrame.sparse.from_spmatrix(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))

print(one_hot_df)

       TransactionId_TransactionId_1  TransactionId_TransactionId_100  \
0                                  0                                0
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0
...                              ...                              ...
95657                              0                                0
95658                              0                                0
95659                              0                                0
95660                              0                                0
95661                              0                                0

       TransactionId_TransactionId_1000  TransactionId_TransactionId_10000  \
0                                     0                                  0
1                                     0                                  0
2                                     0                                  0
3                                     0                                  0
4                                     0                                  0
...                                 ...                                ...
95657                                 0                                  0
95658                                 0                                  0
95659                                 0                                  0
95660                                 0                                  0
95661                                 0                                  0

       TransactionId_TransactionId_100001  TransactionId_TransactionId_100002  \
0                                       0                                   0
1                                       0                                   0
2                                       0                                   0
3                                       0                                   0
4                                       0                                   0
...                                   ...                                 ...
95657                                   0                                   0
95658                                   0                                   0
95659                                   0                                   0
95660                                   0                                   0
95661                                   0                                   0

       TransactionId_TransactionId_100005  TransactionId_TransactionId_100006  \
0                                       0                                   0
1                                       0                                   0
2                                       0                                   0
3                                       0                                   0
4                                       0                                   0
...                                   ...                                 ...
95657                                   0                                   0
95658                                   0                                   0
95659                                   0                                   0
95660                                   0                                   0
95661                                   0                                   0

       TransactionId_TransactionId_100007  TransactionId_TransactionId_100009  \
0                                       0                                   0
1                                       0                                   0
2                                       0                                   0
3                                       0                                   0
4                                       0                                   0
...                                   ...                                 ...
95657                                   0                                   0
95658                                   0                                   0
95659                                   0                                   0
95660                                   0                                   0
95661                                   0                                   0

       ...  Unnamed: 16_March552026  Unnamed: 16_May542028  \
0      ...                        0                      0
1      ...                        0                      0
2      ...                      1.0                      0
3      ...                        0                      0
4      ...                        0                    1.0
...    ...                      ...                    ...
95657  ...                        0                      0
95658  ...                        0                      0
95659  ...                        0                      0
95660  ...                        0                      0
95661  ...                        0                      0

       Unnamed: 16_calculation  Unnamed: 17_0  Unnamed: 17_1  \
0                            0              0              0
1                            0              0              0
2                            0              0              0
3                            0              0              0
4                            0              0              0
...                        ...            ...            ...
95657                        0              0              0
95658                        0              0              0
95659                        0              0              0
95660                        0              0              0
95661                        0              0              0

       Unnamed: 17_1769.25  Unnamed: 17_202454March  Unnamed: 17_202455March  \
0                        0                      1.0                        0
1                        0                        0                      1.0
2                        0                        0                        0
3                        0                      1.0                        0
4                        0                        0                        0
...                    ...                      ...                      ...
95657                    0                      1.0                        0
95658                    0                      1.0                        0
95659                    0                      1.0                        0
95660                    0                      1.0                        0
95661                    0                      1.0                        0

       Unnamed: 17_202554March  Unnamed: 17_6718.071528
0                            0                        0
1                            0                        0
2                          1.0                        0
3                            0                        0
4                          1.0                        0
...                        ...                      ...
95657                        0                        0
95658                        0                        0
95659                        0                        0
95660                        0                        0
95661                        0                        0

[95662 rows x 201539 columns]

In [66]:
num_cols = ["int64", "float64"]
numerical_cols = []
num_col=pd.DataFrame({})
for col in data.columns:
    if data[col].dtype.name in num_cols:  # Access the dtype of the column correctly
        numerical_cols.append(col)
        num_col[col]=data[col]

In [67]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
for col in data_1.columns:
    if col not in numerical_cols:
        data_1[col] = label_encoder.fit_transform(data_1[col])
data_1.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,Hour,day,week,Month,year
0,78150,46980,2490,3535,2584,0,256.0,5,1,0,...,0,2.0,0,10,3,2,14,3,2,0
1,75821,31755,3219,2366,2584,0,256.0,3,19,2,...,1,2.0,0,8,4,2,14,3,2,0
2,39888,60272,2713,996,2806,0,256.0,3,0,0,...,2,2.0,0,13,5,2,14,3,2,0
3,48738,1797,3351,974,3733,0,256.0,0,11,8,...,3,2.0,0,7,3,3,14,3,2,0
4,41364,48941,3219,2366,3733,0,256.0,3,19,2,...,4,2.0,0,14,5,3,14,3,2,0

In [68]:
data_1.isnull().sum()

TransactionId           0
BatchId                 0
AccountId               0
SubscriptionId          0
CustomerId              0
CurrencyCode            0
CountryCode             0
ProviderId              0
ProductId               0
ProductCategory         0
ChannelId               0
Amount                  0
Value                   0
TransactionStartTime    0
PricingStrategy         0
FraudResult             0
Unnamed: 16             0
Unnamed: 17             0
Hour                    0
day                     0
week                    0
Month                   0
year                    0
dtype: int64

In [69]:
Aggregate_Features.isnull().sum()

CustomerId             0
Total_Transaction      0
Average_Transaction    0
Transaction_Count      0
Standard_Deviation     0
dtype: int64

In [70]:
Aggregate_Features["Standard_Deviation"].fillna(Aggregate_Features["Standard_Deviation"].mean(),inplace=True )
Aggregate_Features.isnull().sum()

C:\Users\user\AppData\Local\Temp\ipykernel_19844\1789649848.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Aggregate_Features["Standard_Deviation"].fillna(Aggregate_Features["Standard_Deviation"].mean(),inplace=True )

CustomerId             0
Total_Transaction      0
Average_Transaction    0
Transaction_Count      0
Standard_Deviation     0
dtype: int64

In [71]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalized_data = pd.DataFrame(scaler.fit_transform(data_1), columns=data_1.columns)

print(normalized_data)

       TransactionId   BatchId  AccountId  SubscriptionId  CustomerId  \
0           0.816947  0.495528   0.685573        0.974903    0.690724
1           0.792601  0.334940   0.886289        0.652510    0.690724
2           0.416972  0.635727   0.746971        0.274683    0.750067
3           0.509487  0.018954   0.922632        0.268616    0.997862
4           0.432402  0.516212   0.886289        0.652510    0.997862
...              ...       ...        ...             ...         ...
95657       0.920490  0.974190   0.886289        0.652510    0.402032
95658       0.933693  0.487037   0.565804        0.372035    0.575782
95659       0.861061  0.146517   0.886289        0.652510    0.575782
95660       0.288059  0.770125   0.081498        0.922228    0.139268
95661       0.491151  0.443117   0.886289        0.652510    0.139268

       CurrencyCode  CountryCode  ProviderId  ProductId  ProductCategory  ...  \
0               0.0          0.0         1.0   0.045455            0.000  ...
1               0.0          0.0         0.6   0.863636            0.250  ...
2               0.0          0.0         0.6   0.000000            0.000  ...
3               0.0          0.0         0.0   0.500000            1.000  ...
4               0.0          0.0         0.6   0.863636            0.250  ...
...             ...          ...         ...        ...              ...  ...
95657           0.0          0.0         0.6   0.863636            0.250  ...
95658           0.0          0.0         1.0   0.045455            0.000  ...
95659           0.0          0.0         0.6   0.863636            0.250  ...
95660           0.0          0.0         1.0   0.363636            0.875  ...
95661           0.0          0.0         0.6   0.863636            0.250  ...

       TransactionStartTime  PricingStrategy  FraudResult  Unnamed: 16  \
0                  0.000000              0.5          0.0     0.666667
1                  0.000011              0.5          0.0     0.533333
2                  0.000021              0.5          0.0     0.866667
3                  0.000032              0.5          0.0     0.466667
4                  0.000042              0.5          0.0     0.933333
...                     ...              ...          ...          ...
95657              0.999958              0.5          0.0     0.666667
95658              0.999968              0.5          0.0     0.666667
95659              0.999979              0.5          0.0     0.666667
95660              0.999989              0.5          0.0     0.666667
95661              1.000000              0.5          0.0     0.666667

       Unnamed: 17      Hour       day      week     Month  year
0         0.500000  0.086957  0.466667  0.500000  0.666667   0.0
1         0.666667  0.086957  0.466667  0.500000  0.666667   0.0
2         0.833333  0.086957  0.466667  0.500000  0.666667   0.0
3         0.500000  0.130435  0.466667  0.500000  0.666667   0.0
4         0.833333  0.130435  0.466667  0.500000  0.666667   0.0
...            ...       ...       ...       ...       ...   ...
95657     0.500000  0.391304  0.400000  0.333333  0.333333   1.0
95658     0.500000  0.391304  0.400000  0.333333  0.333333   1.0
95659     0.500000  0.391304  0.400000  0.333333  0.333333   1.0
95660     0.500000  0.434783  0.400000  0.333333  0.333333   1.0
95661     0.500000  0.434783  0.400000  0.333333  0.333333   1.0

[95662 rows x 23 columns]

In [72]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Fit and transform the data
data_1 = pd.DataFrame(scaler.fit_transform(data_1), columns=data_1.columns)

data_1.head()

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,...,TransactionStartTime,PricingStrategy,FraudResult,Unnamed: 16,Unnamed: 17,Hour,day,week,Month,year
0,1.097926,-0.015563,0.153700,1.668646,0.595070,0.0,0.0,1.025868,-1.578054,-0.799047,...,-1.732170,-0.34919,-0.044962,0.006166,0.000000,-2.155584,-0.100748,-0.006366,0.354825,-0.994246
1,1.013589,-0.571733,0.867177,0.346449,0.595070,0.0,0.0,-0.502025,0.916063,0.491064,...,-1.732133,-0.34919,-0.044962,-29.484301,51.548790,-2.155584,-0.100748,-0.006366,0.354825,-0.994246
2,-0.287613,0.469994,0.371951,-1.203089,0.807169,0.0,0.0,-0.502025,-1.716616,-0.799047,...,-1.732097,-0.34919,-0.044962,44.241865,103.097581,-2.155584,-0.100748,-0.006366,0.354825,-0.994246
3,0.032862,-1.666100,0.996366,-1.227972,1.692827,0.0,0.0,-2.793864,-0.192433,4.361398,...,-1.732060,-0.34919,-0.044962,-44.229534,0.000000,-1.949265,-0.100748,-0.006366,0.354825,-0.994246
4,-0.234164,0.056072,0.867177,0.346449,1.692827,0.0,0.0,-0.502025,0.916063,0.491064,...,-1.732023,-0.34919,-0.044962,58.987098,103.097581,-1.949265,-0.100748,-0.006366,0.354825,-0.994246